@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImg {
    background-image: url("../src/assets/johnwick.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}